a {
  color: white;
}

img.rounded {
	border-radius: 35%;
}

.floatanim {
	       padding-right: 5px;
            width: 100px;
            height: 100px;
            position: relative;
            animation: float 3s ease-in-out infinite;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-17px);
            }

            100% {
                transform: translateY(0);
            }
        }

.wowid {
    display: table-cell;
    vertical-align: middle;
	text-align: center;
}

.titlepage {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}
 

.text {
padding-left: 5px;
} 


